#heading{
    text-align: center;
    text-transform: uppercase;
}
#h2{
    text-transform: capitalize;
}
#para{
    line-height: 100px;
}
#p{
    text-decoration: overline;
}
#h1{
    text-decoration: underline;
    text-decoration-style: wavy;
}
#ancher{
    text-decoration:none;
}
#par{
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#paraaa{
    font-size:xx-large;
}
*{
    background-color: aqua;
}
