#log{
    background-color: blue;
    color: aliceblue;
    height: 30px;
    width: 300px;
}
#create{
    
    background-color: green;
    color: aliceblue;
    height: 40px;
    width: 200px;
}
#form{
  margin:auto;
  text-align:center;
   margin-left: 100px;
  position:absolute;
  right: 80px;
  top: 20%;
}
#div{
   width: 300px;              
  height: 250px;             
  border: 2px solid black;   
  background-color: lightblue; 
  padding: 40px;             
  margin: 20px;              
  border-radius: 10px;       
  box-shadow: 3px 3px 10px gray; 
  position: absolute;
  right: 20px;
  top: 20%;
}
#div2{
    padding-left: 100px;
    border-radius: 3px;
    position: absolute;
  right: 500px;
  top: 30%;
}
#div{
    padding-left: 100px;
}
#h5{
    color:blue;
}
#facbook{
    color: blue;
}
#div3{
    position: absolute;
  right: 90px;
  top: 85%;
}